/* resetear estilos del navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bellefair', serif;
}


/* navbar  con flex*/

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    border: none;
    justify-content: space-between;
    padding: 0 20px;
    
}

.logo-container img{
    height: 40px;
    width: 100px;
}

.scroll {
    width: 150px;
    height: 150px;
    overflow: scroll;
}


/* Dummy Test Netflix */

.bg {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/5a27cb25-33a9-4bcc-b441-95fefabcbd37/18ac9873-558c-49b8-8ae5-eb42c9da346a/MX-es-20210823-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 0;
}

/* FLEX Column */
.bg .col {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 100%;
    min-height: 300px;
    justify-content: center;
    align-items: center;
}

.enlaces-container select,a {
    background-color: #e50914;
    color: black;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400px;
    font-size: 1rem;
    text-decoration: none;
}

.input-row input{
    width: 250px;
    height: 30px;
    box-shadow: 0 0 0 2px #c2dbff;
    border: none;
    border-radius: 1px;
    margin-top: 10px;
}

.input-row button {
    background-color: red;
    width: 100px;
    height: 32px;
    border: none;
    font-size: medium;
    border-radius: 1px;
}

.texto-container {
    justify-content: center;
    margin: 10px;
    padding: 80px 20px 0px 20px;
}

.arti1 {
    display: flex;
    width: 100%;
    align-content: center;
    background-color: black;
    color: white;
}

.arti2 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-content: center;
    background-color: black;
    color: white;
}

.arti3 {
    display: flex;
    width: 100%;
    align-content: center;
    background-color: black;
    color: white;
}

.arti4 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-content: center;
    background-color: black;
    color: white;
}
